html {
  scroll-behavior: smooth;
}

/* Reset styles and common styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  padding-top: 60px;
}

/* Header styles */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #acebf2, #013a40);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
  z-index: 100;
  height: 60px; 
}

.header-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-container h1 {
  font-family: 'Orbitron', sans-serif;
  color: #013A40;
  margin: 0;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.menu-container {
  margin-left: 12.25%;
}

.menu-buttons {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #04D9D9, #04ADBF);
  box-shadow: 7px 6px 7px #013A40;
  transition: all 0.3s ease;
  margin-left: 2px;
  position: relative;
}

.menu-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.menu-buttons:hover::before {
  border-color: rgb(62, 238, 62);
}

.menu-buttons:active::before {
  border-color: rgb(62, 238, 62);
}

.menu-buttons:hover {
  opacity: 1;
  box-shadow: 0 0 5px #04D9D9, 0 0 15px #04ADBF, 0 0 15px #e631dd, 0 0 15px #ACEBF2;
}

#theme-toggle {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #007bff;
  transition: color 0.3s ease;
  margin-left: 10px;
}

/* Dropdown styling */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cde7eb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  display: block;
  color: #333;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #04ADBF;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown button.menu-buttons {
  padding: 10px 20px;
  font-size: 15px;
}

/* article box styles */

.container {
  max-width: 1700px;
  margin: 30px auto;
  padding: 20px;
  background: linear-gradient(75deg, #e378f8, #1580f3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.article {
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 60px;
  border: 5px solid #f0b8b8;
  background-color: white;
  position: relative;
  --gradientX: 0.5;
  --gradientY: 0.5;
}

.article:hover {
  transform: scale(1.01);
  opacity: 0.9;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.article::before,
.article::after {
  position: absolute;
  background: linear-gradient(90deg, transparent, #007BFF, transparent);
  transition: width 0.3s ease-in-out;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 95%;
  height: 100%;
  z-index: -1;
}

.article::before {
  background: linear-gradient(45deg, transparent, transparent, #e378f8, transparent, transparent);
  background-size: 300% 300%;
  top: 0;
  left: 90px;
  transition: all 0.3s ease;
}

.article::after {
  background: linear-gradient(135deg, transparent, transparent, #1580f3, transparent, transparent);
  background-size: 300% 300%;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}

.article:hover::before {
  background-position: calc(var(--gradientX) * 100%) calc(var(--gradientY) * 100%);
}

.article:hover::after {
  background-position: calc(var(--gradientX) * 100%) calc(var(--gradientY) * 100%);
}

.article1 {
  background: url("../images/article1.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  width: 80%;
}

.article2 {
  background: url("../images/cyber.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  width: 80%;
}

.article3 {
  background: url("../images/law.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  width: 80%;
}

.article h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.article p {
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.article a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease;
}

.article:hover a {
  text-decoration: underline;
}