html {
  scroll-behavior: smooth;
}

/* Reset styles and common styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  padding-top: 60px;
}

/* Header styles */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #e378f8, #007bff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background-color: #007bff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
  z-index: 100;
}

.header-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.right-section {
  margin-left: auto;
}

.menu-buttons {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(180deg, #e378f8, #007bff);
  box-shadow: 7px 6px 7px #125eae;
  transition: all 0.3s ease;
}

.menu-buttons:hover {
  opacity: 1;
  box-shadow: 0 0 5px #2e7eda, 0 0 15px #70aaec, 0 0 15px #e631dd, 0 0 15px #0b5fbe;
}

/* Hero section styles */

.hero-section {
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero-card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero-content p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}

.get-started-button {
  display: flex;
  justify-content: center;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.cta-button:hover {
  background-color: rgb(165, 11, 165);
}

/* Container styles */

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.link-box {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
.link-box .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.link-box .content {
  position: fixed;
  top: 0;
  left: 0;
  width: relative;
  height: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.link-box .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.link-box img {
  height: 280px;
  width: 280px;
}

.link-box:hover .content{
  transform: translateY(0);
}

.link-box:hover .front-content {
  transform: translateX(-30%);
}

.link-box:hover img {
  transform: scale(1.05);
  transition: transform 0.9s ease;
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.link-box a {
  font-size: 20px;
  color: #007bff;
  text-decoration: none;
}

/*Chatbot styles  */

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #040a10;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbot {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.show-chatbot {
  display: block;
}

/* Footer styles */
.footer {
  background-color: #007bff;
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: -5px;
  width: 100%;
  transition: bottom 0.3s ease;
}

/* Footer link styles */
.powered-by-link {
  color: #fafafa;
  text-decoration: none;
  margin: 5px;
  display: block;
}

.powered-by-link:hover {
  text-decoration: underline;
}