html {
  scroll-behavior: smooth;
}

/* Reset styles and common styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2b2b2b;
  padding-top: 60px;
}

body.dark {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  padding-top: 60px;
}

/* Header styles */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #333, #007bff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
  z-index: 100;
}

.header-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.logo h1 {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.right-section {
  margin-left: auto;
}

.menu-buttons {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(180deg, #e378f8, #007bff);
  box-shadow: 7px 6px 7px #125eae;
  transition: all 0.3s ease;
  margin-left: 2px;
  position: relative;
}

.menu-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.menu-buttons:hover::before {
  border-color: limegreen;
}

.menu-buttons:active::before {
  border-color: limegreen;
}

.menu-buttons:hover {
  opacity: 1;
  box-shadow: 0 0 5px #2e7eda, 0 0 15px #70aaec, 0 0 15px #e631dd, 0 0 15px #0b5fbe;
}

#theme-toggle {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: #007bff;
  transition: color 0.3s ease;
  margin-left: 10px;
}

/* Dropdown styling */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  display: block;
  color: #333;
  transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown button.menu-buttons {
  padding: 10px 20px;
  font-size: 15px;
}

/* Hero section styles */

.hero-section {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.hero-card {
  background-color: #797676b3;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.hero-content {
  background-color: #555454b3;
  border-radius: 10px;
  padding: 5% 10%;
}

.hero-content h1 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.hero-content p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 2;
  opacity: 1;
}

.get-started-button {
  display: flex;
  justify-content: center;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.6s ease;
}

.cta-button:hover {
  background-color: rgb(165, 11, 165);
}


/* Style for the "What We Do" section */

.what-we-do {
  background-color: #797676b3;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.what-we-do h2 {
  font-size: 28px;
  color: #ffffff;
}

.what-we-do p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-separator {
  color: hsl(0, 4%, 78%); 
  border-top: 1px solid #ddd;
  margin: 0px auto;
  width: 80%;
}

/* Style for the "How Cybernaut Works" section */

.how-it-works {
  background-color: #797676b3;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

.how-it-works h2 {
  font-size: 28px;
  color: #ffffff;
}

.how-it-works p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}

/*Chatbot styles  */

.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #040a10;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.chatbot {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 700px;
  height: 400px;
  overflow: hidden;
}

.show-chatbot {
  display: block;
}

/* Footer styles */

.footer {
  background-color: #007bff;
  padding: 1px;
  text-align: center;
  position: fixed;
  bottom: -5px;
  width: 100%;
  transition: bottom 0.3s ease;
}

/* Footer link styles */
.powered-by-link {
  color: #fff;
  /* White text */
  text-decoration: none;
  margin: 5px;
  display: block;
}

.powered-by-link:hover {
  text-decoration: underline;
}

/* responsive stuff */

@media (max-width: 768px) {
  .header-container {
    padding: 5px;
  }

  .menu-buttons {
    padding: 8px 16px;
    font-size: 14px;
  }

}

@media (max-width: 480px) {

  /* Adjust styles here */
  .header-container {
    padding: 3px;
  }

  .menu-buttons {
    padding: 5px 10px;
    font-size: 12px;
  }

}