html {
    scroll-behavior: smooth;
}

/* Reset styles and common styles */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8c8377;
    padding-top: 60px;
}

/* Header styles */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #3c5973, #0c1726);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
    z-index: 100;
    height: 60px;
}

.header-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-container h1 {
    font-family: 'Orbitron', sans-serif;
    color: #0d0d0d;
    margin: 0;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.menu-container {
    margin-left: 13%;
}

.menu-buttons {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #3f6ca6, #3c5973);
    box-shadow: 7px 6px 7px #013A40;
    transition: all 0.3s ease;
    margin-left: 2px;
    position: relative;
}

.menu-buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.menu-buttons:hover::before {
    border-color: rgb(62, 238, 62);
}

.menu-buttons:active::before {
    border-color: rgb(62, 238, 62);
}

.menu-buttons:hover {
    opacity: 1;
    box-shadow: 0 0 5px #04D9D9, 0 0 15px #04ADBF, 0 0 15px #e631dd, 0 0 15px #ACEBF2;
}

#theme-toggle {
    background-color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #007bff;
    transition: color 0.3s ease;
    margin-left: 10px;
}

/* Dropdown styling */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cde7eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    display: block;
    color: #0d0d0d;
    transition: background-color 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #3f6ca6;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown button.menu-buttons {
    padding: 10px 20px;
    font-size: 15px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    box-shadow: 0 0 4px #decffd;
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s, background-color 0.3s;
    width: calc(28% - 20px);
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.loading-indicator {
    text-align: center;
    font-size: 24px;
    padding: 40px;
    display: none;
    animation: fade-in 0.5s ease-in-out;
    margin-bottom: 100px;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: inset 0 0 0 2px #fff;
    transform-origin: center;
    animation: fill 1.5s ease-in-out infinite;
}

.circle-1 {
    animation-delay: 0s;
}

.circle-2 {
    animation-delay: -0.4s;
}

.circle-3 {
    animation-delay: -0.8s;
}

.circle-4 {
    animation-delay: -1.2s;
}

@keyframes fill {
    0% {
        transform: scale(1);
    }

    50% {
        box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 6px #1c1c1e;
        transform: scale(1.5);
    }

    100% {
        box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 6px #fff;
        transform: scale(1);
    }
}


@media screen and (max-width: 980px) {
    .cards-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        /* Cards take full width when the screen is narrow */
    }
}