body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.header-container {
    background: linear-gradient(180deg, #e378f8, #007bff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: #007bff; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 15px; 
    transition: box-shadow 0.3s ease; 
}

.header-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.NetworkHeader h1 {
    text-align: center;
}


div#data-visualization {
    width: 50%;
    margin: 0 auto;
}

input#urltoscan {
    position: relative;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #aed4fd;
    box-shadow: inset 2px 5px 7px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

input:focus {
    background-color: white;
    transform: scale(1.025);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.scan-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute left top;
    top: 30px;
    opacity: .8;
    background: linear-gradient(180deg, #e378f8, #007bff);
    box-shadow: 7px 6px 7px #125eae;
    transition: all 0.3s ease;
    width: 90px;
    height: 40px;
}

.scan-button:hover {
    background-color: rgb(64, 174, 234);
    opacity: 1;
    box-shadow: 0 0 5px #0b5fbe, 0 0 25px #0b5fbe, 0 0 20px #0b5fbe, 0 0 50px #0b5fbe;
    transform: translateY(-3px);
}

.scan-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(25px);
}

.introduction {
    text-align: center;
    margin-top: 20px;
}

.introduction p {
    font-size: 18px;
}

.search-container {
    text-align: center;
    margin-top: 50px;
}

.description {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease;
}

.description-title {
    font-size: 24px;
    color: #007bff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card-title {
    font-size: 24px;
    color: #007bff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card-text {
    font-size: 16px;
}

.get-started-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cta-button {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    width: 15%;
    transition: background-color 0.6s ease;
}

.cta-button:hover {
    background-color: rgb(165, 11, 165);
}